!/target/classes/site/*
!/target/classes/javadoc-bundle-options/*
/target/
/src/main/resources/SECRET_KEYS/
/src/main/resources/SECRET_KEYS/Keys.properties
*.log
/target\generated-sources\annotations/
/target\generated-test-sources\test-annotations/
